@import "tailwindcss";

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color:rgb(12, 13, 18); */
    background-color: #0e1113;
}

.custom-scroll-hide::-webkit-scrollbar {
  display: none;
}

.custom-scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-adder{

  /* background-color: rgb(18, 17, 17); */
  background-color:#0c0e10 ;

}
